## Created Bucket

In [10]:
import logging
import boto3
from botocore.exceptions import ClientError

def create_bucket(bucket_name, region=None):
    """Create an S3 bucket in a specified region. If a region is not specified,
    the bucket is created in the S3 default region (us-east-1).

    :param bucket_name: Bucket to create
    :param region: String region to create bucket in, e.g., 'us-east-2'
    :return: True if bucket created, else False
    """
    try:
        if region is None:
            s3_client = boto3.client('s3')
            s3_client.create_bucket(Bucket=bucket_name)
        else:
            s3_client = boto3.client('s3', region_name=region)
            location = {'LocationConstraint': region}
            s3_client.create_bucket(Bucket=bucket_name, CreateBucketConfiguration=location)
    except ClientError as e:
        logging.error(e)
        return False
    return True

# Attempt to create the bucket
bucket_name1 = 'final-project-rawdata-group-5-sec-2'  # Ensure this is globally unique and all lowercase
region = 'us-east-2'  # Specify your region
bucket_name2 = 'final-project-mergedata-group-5-sec-2'  # Ensure this is globally unique and all lowercase


if create_bucket(bucket_name1, region):
    print(f'Bucket "{bucket_name1}" created successfully.')
else:
    print(f'Failed to create bucket "{bucket_name1}". Bucket already exists')

if create_bucket(bucket_name2, region):
    print(f'Bucket "{bucket_name2}" created successfully.')
else:
    print(f'Failed to create bucket "{bucket_name2}". Bucket already exists')

Bucket "final-project-rawdata-group-5-sec-2" created successfully.
Bucket "final-project-mergedata-group-5-sec-2" created successfully.

In [11]:
import pandas as pd

# Load the first CSV file
df1 = pd.read_csv('https://raw.githubusercontent.com/nikkirastogi/ia_final_project/main/movies.csv')
df1

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [12]:
df1.to_csv('movies.csv', index=False)

In [13]:
import boto3

def upload_file_to_s3(file_name, bucket_name, object_name=None):

    # If S3 object_name was not specified, use file_name
    if object_name is None:
        object_name = file_name

    # Upload the file
    s3_client = boto3.client('s3')
    try:
        response = s3_client.upload_file(file_name, bucket_name, object_name)
    except Exception as e:
        print(f"Upload failed: {e}")
        return False
    return True

# Example usage:
file_name = 'movies.csv'
bucket_name = 'final-project-rawdata-group-5-sec-2'
upload_file_to_s3(file_name, bucket_name)

True